* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.app {
  /* background-color: #ffffff; */
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.monsters {
  display: flex;
  width: 980px;
  height: 700px;
  /* background-color: darkorange; */
}

.monster-item.bear {
  background-color: blueviolet;
}

.monster-item.spacer {
  background-color: chartreuse;
}

.monster-item.tomjerry {
  background-color: darkorange;
}

.monster-item {
  display: flex;
  align-items: center;
  width: 33.333333333%;
  height: 700px;
  transition: width 0.5s;
}

.monster-item-cover {
  width: 100%;
}

.monsters:hover .monster-item {
  width: 20%;
}
.monsters:hover .monster-item .monster-item.tomjerry {
  transform: scale(1);
}

.monsters .monster-item:hover {
  transform: scale(1);
  width: 60%;
}

ul,
li {
  list-style: none;
}
